{:paths ["src" "bin" "scripts"]
 :deps {kotoba-lang/innen {:git/url "https://github.com/kotoba-lang/innen.git"
         :git/sha "a45b03e4dfb137e1991814ead09f64876519e624"}}
 :aliases
 {:test {:extra-paths ["test"]}}}
